<ngx-charts-line-chart
  [view]="view"
  [scheme]="colorScheme"
  [legend]="legend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [timeline]="timeline"
  [results]="multi"
  #chartComponent
>
</ngx-charts-line-chart>
<div style="clear: both;">
  <p>
    Simulate tab changes:
  <mat-button-toggle-group [(value)]="simulateUsage">
    <mat-button-toggle [value]="false">No</mat-button-toggle>
    <mat-button-toggle [value]="true">Yes</mat-button-toggle>
  </mat-button-toggle-group>
  </p>
</div>
<div style="clear: both;">
<mat-button-toggle-group [(value)]="chartToDisplay" name="chartToDisplay" aria-label="Font Style">
  <mat-button-toggle value="PC">PC</mat-button-toggle>
  <mat-button-toggle value="Sales">Sales</mat-button-toggle>
  <mat-button-toggle value="Elections">Elections</mat-button-toggle>
</mat-button-toggle-group>
<ng-container [ngSwitch]="chartToDisplay">
  <app-percentage *ngSwitchCase="'PC'"></app-percentage>
  <app-bar *ngSwitchCase="'Sales'"></app-bar>
  <app-pie *ngSwitchCase="'Elections'"></app-pie>
</ng-container>
</div>
